# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VSCode版本控制临时文件
*.bin
# 汇编语言源程序预处理结果文件
*.s
# 目标文件
*.o
# 链接图文件
*.map
# 依赖文件
*.d
# 磁盘映像文件各组成部分
bootloader/bootsect
bootloader/bootloader
os/system
os/system.elf
# 磁盘映像文件
Image